<!DOCTYPE html>
<html>
<head>
    <title>Home - Learning Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <a href="{{ url_for('quiz') }}">Take a Quiz</a><br>
        <a href="{{ url_for('chatbot_interaction') }}">Chatbot</a><br>
        <a href="{{ url_for('recommendations') }}">Get Recommendations</a><br>
        <a href="{{ url_for('emotion_interaction') }}">How are you feeling today?</a><br>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>